
.phone_bar {
    justify-content: space-around !important;
    align-items: center !important;
    width: 100% !important;
    background-color: #f5f5f5 !important;
    position: fixed !important;
    z-index: 1000 !important;
    padding: 2px 0px !important;
    margin-top: -20px !important;
}

.logo_bar{
    padding: 6px;
}
.logo_bar:hover {
    background-color: #6adc74;
}
.logo_bar :focus {
    background-color: #6adc74;
}

div#build p.build_desc {
    padding-top: 35px;
}

.profil_image {
    width: 100%;
}

.v2vStyle{
    width: 100%; 
    display: flex; 
    justify-content: space-between;
}

.hadafAndIrssal{
    width: 35%;
    background:#f8f8f8;
}

.alqowat{
    width: 60%;
}

div.alliance table#edit td.desc1 textarea {

    margin: auto!important;
}

div.alliance table#edit td.desc2 textarea {
height: 150px;
   margin: auto!important;
}

.protectionAndMiracle{
    display: none;
}


/* Responsive CSS for mobile devices */


@media only screen and (max-width: 768px){

    div.alliance table#edit td.desc1 textarea {
         width: 95%;
    }

    div.alliance table#edit td.desc2 textarea {
        width: 95%;
   }

    .alqowat{
        width: auto; 
    }

    .hadafAndIrssal{
        width: auto;
        margin-bottom: 10px;
    }

    
    .v2vStyle{
        width: 100%;
        display: table;
    }

    div.player table#edit td.desc2 textarea {
        width: 95%!important;
    }
    
    div.player table#edit td.desc1 textarea {
        width: 95%!important;
    }
    
    div.player table#links td.nam input.text {
        width: auto!important;
    }
    
    div.player table#links td.link input.text {
        width: auto!important;
    }
    

    body{
        zoom : 100%;
    }
    #dynamic_header {
        min-width: 100% !important;
        margin-top: 20px !important;
    }
    #header{
        min-width: 100% !important;
        
    }
    #header > #mtop {
        width: 100% !important;
        margin-right: 0 !important;
        right: unset !important;
        display: flex;
        justify-content: center;
    }

    div#content {
        float : none !important;
    }
    #mid {
        width: 100% !important;
        min-width: 100% !important;
    }
    #plus {
        display: none !important;
    }
    #side_navi {
        display: none !important;
    }
    #side_info {
        display: none !important;
    }
    
    #res {
        width: 100% !important;
        min-width: 100% !important;
    }
    #resTop {
        display: block !important;
        width: 100% !important;
    }
    #res>#resWrap {
             right: 0!important;
     margin-right: 0!important;
     width: 100%!important;
    }
    
    .village1 {
        display: flex !important;
        flex-direction: column !important;
        width: 90vw !important;
    }

    
    div.village2 div#village_map{
    margin-right: -80px!important;
    scale: 0.9!important;   
}

    div.village2 {
        width: auto!important;
        padding: 43px 5px 0!important;
    }


    div#map {
        scale: 0.9!important;
        margin-right: -80px!important;
    }

    div.map {
        width : auto;
    }

    div.statistics {
         width: auto!important;
        padding: 43px 5px 0!important;
    }

    div#textmenu {
        margin-bottom: 20px!important;
    }

div.statistics table#top10_offs, div.statistics table#top10_climbers {
        width: auto;
        margin: auto;
        float: none;
        margin-bottom: 10px;
    }

    div.statistics table#top10_defs, div.statistics table#top10_raiders {
        width: auto;
        margin: auto;
        float: none;
        margin-bottom: 10px;
    }

    div.statistics div#submenu2 {
        right: 10px!important;
        top: 134px!important;
    }

    div.statistics div#submenu {
        left: 10px!important;
        top: 134px!important;
    }

    

    div.forum {
        width: auto!important;
        padding: 43px 5px 0!important;
    }

    div.forum table {
        width: 100%!important;
    }

    div.reports {
        width: auto!important;
        padding: 43px 5px 0!important;
    }

    div.messages {
        width: auto!important;
        padding: 43px 5px 0!important;
    }


    div.messages div.msg_head {
        width: auto!important;
        scale: 0.95!important;
        height: 35px!important;
    }

    div.messages div.msg_content {
        width: auto!important;
        scale: 0.95!important;
        margin-top: -15px!important;
    }
    div.messages div.msg_content div#line {
        width: auto;
    }

    div.messages div.msg_foot {
        width: auto!important; 
        height: 18px!important;
        scale: 0.95!important;
        margin-top: -9px!important;
    }

    #map_navibox {
        left: 100px!important;
        bottom: -80px!important;
    }

    #map_makelarge img {
        margin-right: 60px;
        margin-top: -15px;
    }

    img#lswitch {
        right: 50px !important;
    }
    
    .village1 > #map_details {
        margin-top: 10px !important;
    }

    .show-flex {
        display: flex !important;   
    }
    .open-menu {
        display: block !important;
    }
    .open-maps {
        display: block !important;
    }


    .phone_bar {
        display: flex !important;
        
    }

    div.map div#map_details {
        float: right;
        margin-right: 30px;
    }

    div.build {
         width: auto!important;
    }

    div.player {
        width: auto!important;
        padding: 43px 5px 0!important;
    }

    div.plus div#products {
        width: auto!important;
        margin-right: -6px!important;
    }

    div.logout {
        width: auto;
    }

    .protectionAndMiracle{
        display: flex;
    }


    div.plus, .village3, div.forum,div#build, div.reports, div.messages,div.player, div.alliance, div.village3, div.a2b ,div.warsim {
        width: auto!important;
        padding: 43px 0px 0!important;
    }

    div.forum table{
        width: auto!important;
    }

    #change_mail {
        width: 100% !important;
    }


    
}