
.phone_bar {
    justify-content: space-around !important;
    align-items: center !important;
    width: 100% !important;
    background-color: #f5f5f5 !important;
    position: fixed !important;
    z-index: 1000 !important;
    padding: 2px 0px !important;
    margin-top: -20px !important;
}

.logo_bar{
    padding: 6px;
}
.logo_bar:hover {
    background-color: #6adc74;
}
.logo_bar :focus {
    background-color: #6adc74;
}




/* Responsive CSS for mobile devices */


@media only screen and (max-width: 768px){

    body{
        zoom : 100%;
    }
    #dynamic_header {
        min-width: 100% !important;
        margin-top: 20px !important;
    }
    #header{
        min-width: 100% !important;
        
    }
    #header > #mtop {
        width: 100% !important;
        margin-right: 0 !important;
        right: unset !important;
        display: flex;
        justify-content: center;
    }

    div#content {
        float : none !important;
    }
    #mid {
        width: 100% !important;
        min-width: 100% !important;
    }
    #plus {
        display: none !important;
    }
    #side_navi {
        display: none !important;
    }
    #side_info {
        display: none !important;
    }
    
    #res {
        width: 100% !important;
        min-width: 100% !important;
    }
    #resTop {
        display: block !important;
        width: 100% !important;
    }
    #res>#resWrap {
             right: 0!important;
     margin-right: 0!important;
     width: 100%!important;
    }
    
    .village1 {
        display: flex !important;
        flex-direction: column !important;
        width: 90vw !important;
    }

    
    div.village2 div#village_map{
    margin-right: -80px!important;
    padding: 0px!important;
    scale: 0.9!important;
    max-width: 130%!important;
    }


    div#map {
        scale: 0.9!important;
        margin-right: -80px!important;
    }

    #map_navibox {
        left: 100px!important;
        bottom: -80px!important;
    }

    #map_makelarge img {
        margin-right: 120px;
        margin-top: -15px;
    }

    img#lswitch {
        right: 50px !important;
    }
    
    .village1 > #map_details {
        margin-top: 10px !important;
    }

    .show-flex {
        display: flex !important;   
    }
    .open-menu {
        display: block !important;
    }
    .open-maps {
        display: block !important;
    }



    .phone_bar {
        display: flex !important;
        
    }
    

    
}
